<% include ./partials/header %>

<header class="container">
	<div class="jumbotron">
        <h1 style="color: rgb(249, 116, 7);">王娜瑞专用HR系统!</h1>
        <div style="border-bottom: 3px solid white; height: 10px; margin-bottom: 20px"></div>
        <div class="form-group">
            <!-- <a class="btn btn-primary btn-lg" href="/update_client">上传简历</a> -->
            <a class="btn btn-warning btn-lg" href="/new_client">上传简历</a>
            <a class="btn btn-success btn-lg" href="/query_client">搜索简历</a>
        </div>
        <!-- <div style="border-bottom: 3px solid white; height: 10px; margin-bottom: 20px"></div>
        <div class="form-group">
            <a class="btn btn-primary btn-lg" href="/update_order">Update Order</a>
            <a class="btn btn-warning btn-lg" href="/new_order">New Order</a>
            <a class="btn btn-success btn-lg" href="/query_order">Search Order</a>
        </div>
        <div style="border-bottom: 3px solid white; height: 10px; margin-bottom: 20px"></div>
        <div class="form-group">
            <a class="btn btn-success btn-lg" href="/query_menu_item">Search Menu/Decor/Entertainment Corresponding Information</a>
        </div>
        <div style="border-bottom: 3px solid white; height: 10px; margin-bottom: 20px"></div>
        <div class="form-group">
            <a class="btn btn-success btn-lg" href="/query_supplier">Search Supplier</a>
        </div>
        <div style="border-bottom: 3px solid white; height: 10px; margin-bottom: 20px"></div>
        <div class="form-group">
            <a class="btn btn-success btn-lg" href="/compare_price">Compare Price Of Items In Orders</a>
        </div>
        <div style="border-bottom: 3px solid white; height: 10px; margin-bottom: 20px"></div>
        <div class="form-group">
            <a class="btn btn-success btn-lg" href="/count_items">Count Items In Orders</a>
        </div>
        <div style="border-bottom: 3px solid white; height: 10px; margin-bottom: 20px"></div> -->
	</div>
</header>

<% include ./partials/footer %>